.form__button {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 28px;
    font-family: var(--fonte-texto);
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.form__button:hover {
    color: #95ffd4;
}
