.time {
    text-align: center;
    padding: 32px;
}

.time h3 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 32px;
    padding-bottom: 12px;
}

.time__colaboradores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
